PORT=

HOST=
USER=
PASSWORD=
DATABASE=

JWT_SECRET=

# Env Oauth2 Google
CLIENT_ID =
CLIENT_SECRET =

# Env Midtrans
MIDTRANS_MERCHAN_ID_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
FRONTEND_URL=http://localhost:5173